/**
* Typography
*/

@import url('https://fonts.googleapis.com/css?family=Josefin+Sans|Reenie+Beanie');

@font-family-base: 'Josefin Sans', sans-serif;
@headings-font-family: 'Josefin Sans', regular;
@font-size-base: 14px;
